@charset "UTF-8";

div, p {
	text-align: center;
}

.jumbotronSetting {
	position: relative;
	height: 100vh;
	min-height: 300px;
	background: url(../img/jumbotron.jpg) no-repeat center center;
	background-size: cover;
}
.jumbotronContent {
	position: relative;
	top: 25%;
	right: 32%;
}