@charset "UTF-8";

/* 背景色 */
body {
	background: linear-gradient(#ffcc99, #ffd6ea);
}

/* 原則文章は真ん中 */
div, p {
	text-align: center;
}

/* ジャンボトロン背景 */
.jumbotronSetting {
	position: relative;
	height: 100vh;
	min-height: 300px;
	background: url(../img/jumbotron.jpg) no-repeat center center;
	background-size: cover;
}
/* ジャンボトロン文字 */
.jumbotronContent {
	position: relative;
	top: 25%;
	right: 32%;
}

/* 改行位置調整 */
span{
	display: inline-block;
}
