<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="replace::head"></head>
<body>
	<div th:if="${isAdmin != true}">
		<div th:if="${msg == true}">ログインできません。</div>
		<div class="h1 mt-5">管理人チェック</div>
		<div class="row">
			<div class="col-md-2 col-xs-1"></div>
			<div class="col-md-8 col-xs-10">
				<form th:action="@{/admin}" method="post">
					<div class="row">
						<div class="col-6 text-left my-1">ログインID</div>
						<div class="col-6 text-right my-1"><input type="text" name="loginId" placeholder="ログインID" autofocus></div>
						<div class="col-6 text-left my-1">パスワード</div>
						<div class="col-6 text-right my-1"><input type="password" name="password" placeholder="パスワード"></div>
						<div class="col-12 my-4"><input class="btn btn-primary shadow" type="submit" value="ログイン"></div>
					</div>
				</form>
			</div>
			<div class="col-md-2 col-xs-1"></div>
		</div>
	</div>
	<div th:if="${isAdmin == true}">
		<div class="h1 mt-5 mb-4">連絡一覧</div>
		<div th:inline="text" th:each="form: ${formList}" th:object="${form}">
			<div class="row">
				<div class="col-1"></div>
				<div class="col-10">
					<div class="row border border-dark">
						<div class="col-md-6 col-xs-12 py-1">
							<p>名前</p><p>[[*{name}]]</p>
						</div>
						<div class="col-md-6 col-xs-12 py-1">
							<p>連絡日時</p><p>[[*{#calendars.format(formDate, 'yyyy年M月d日 k時m分s秒')}]]</p>
						</div>
						<div class="col-12 py-1">
							<p>連絡先</p><p>[[*{address}]]</p>
						</div>
						<div class="col-12 py-1">
							<p>内容</p>
							<p><th:block th:if="*{content}">
								<th:block th:each="indentContent, contentArea : *{content.split('\r\n|\r|\n', -1)}">
									<th:block>[[${indentContent}]]</th:block>
									<br th:if="${!contentArea.last}">
								</th:block>
							</th:block></p>
						</div>
					</div>
					<br>
				</div>
				<div class="col-1"></div>
			</div>
		</div>
	</div>
	<div class="my-5"><a th:href="@{/top}"><input class="btn btn-secondary shadow" type="button" value="戻る"></a></div>
</body>
</html>