<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- /* head */ -->
<head th:fragment="head">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1">
	
	<link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}">
	<link rel="stylesheet" type="text/css" th:href="@{css/common.css}">
	<script type="text/javascript" th:src="@{webjars/jquery/1.12.4/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{js/common.js}"></script>
	
	<title>ポートフォリオ</title>
</head>
<body>
	<!-- /* ジャンボトロン */ -->
	<div th:fragment="jumbotron">
		<div class="jumbotron-fluid jumbotronSetting">
			<div class="jumbotronContent">
				<div class="h1 text-light">ポートフォリオ</div>
				<p><a href="#form"><input class="btn btn-success shadow my-1" type="button" value="連絡"></a></p>
			</div>
		</div>
	</div>
	
	<!-- /* 自己紹介 */ -->
	<div th:fragment="profile">
		<div class="px-2 py-2">
			<div class="text-left">
				<span>自分はプログラミング教室、</span><span>または独学で</span><span>Javaを中心に</span><span>Web系技術を</span><span>身につけました。</span>
				<span>開発には</span><span>主にEclipseを使っており、</span><span>OSは</span><span>WindowsとMacが</span><span>使用可能です。</span>
			</div>
			<div class="text-left">
				<span>エンジニアとして</span><span>企業等へ実際に勤めたことは</span><span>ありませんが、</span><span>学習は</span><span>一年近く続けており、</span>
				<span>今後も</span><span>様々なものに</span><span>学習意欲が</span><span>湧いております。</span>
			</div>
		</div>
	</div>
	
	<!-- /* アピールポイント1 */ -->
	<div th:fragment="appeal1">
		<div class="h4">Javaを用いたWeb開発</div>
		<div class="text-left">
			<span>JavaとHTML/CSSを</span><span>プログラミング教室で学んでおり、</span><span>また独学ながら</span>
			<span>JavaScript,</span><span>Bootstrap,</span><span>SpringBootを</span><span>習得しております。</span>
		</div>
		<div class="text-left">
			<span>主にWeb開発を中心に</span><span>学習しており、</span><span>簡単なWebアプリであれば</span><span>独力で開発が</span><span>可能です。</span>
		</div>
	</div>
	<!-- /* アピールポイント2 */ -->
	<div th:fragment="appeal2">
		<div class="h4">未経験ながら意欲はあり</div>
		<div class="text-left">
			<span>エンジニアとしての実務経験、</span><span>社会人経験共にありませんが、</span><span>新技術、必用技術への</span><span>学習意欲はあります。</span>
		</div>
		<div class="text-left">
			<span>Web開発は</span><span>Javaで行なっていましたが</span><span>より一般的に用いられる</span><span>PHPの習得や、</span>
			<span>Javaの代替技術となりうる</span><span>Kotlinを習得したいと</span><span>考えております。</span>
		</div>
	</div>
	<!-- /* アピールポイント3 */ -->
	<div th:fragment="appeal3">
		<div class="h4">システム開発もOK</div>
		<div class="text-left">
			<span>JavaでのWeb開発の過程で、</span><span>フロントエンドだけでなく</span><span>サーバーサイドも扱った経験があります。</span>
			<span>コードを書いていて</span><span>より楽しく感じたのも</span><span>こちら側でした。</span>
		</div>
		<div class="text-left">
			<span>この経験から、</span><span>Web重視といえども</span><span>システム開発にも</span><span>比較的早く対応できると</span><span>考えております。</span>
		</div>
	</div>
	
	<!-- /* 成果物1 */ -->
	<div th:fragment="work1">
		<div class="row">
			<div class="col-md-6 col-xs-12 my-3">
				<img id="officeSystemImg" onclick="slideshow(id)" src="img/officeSystemIndex.jpg" width="100%" height="300">
			</div>
			<div class="col-md-6 col-xs-12 mt-5 mb-3">
				<div class="h4 mb-4">業務システム</div>
				<div class="text-left">
					<span>会社内で使うシステムを</span><span>意識して作ったものです。</span><span>社員の出退勤管理、</span><span>連絡事項、</span>
					<span>商品の在庫管理、</span><span>社員の情報管理が</span><span>可能です。</span>
				</div>
				<div class="text-left">
					<span>Javaは</span><span>システム開発で用いられることが</span><span>多いため、</span><span>その分野の習作として</span><span>作りました。</span>
				</div>
				<div class="h4 my-1"><a href="https://github.com/KoheiEguchi/OfficeSystem.git" target="_blank">GitHubはこちら</a></div>
			</div>
		</div>
	</div>
	<!-- /* 成果物2 */ -->
	<div th:fragment="work2">
		<div class="row">
			<div class="col-md-6 col-xs-12 my-3">
				<img id="muMeisyoImg" onclick="slideshow(id)" src="img/muMeisyoBrowse.jpg" width="100%" height="300">
			</div>
			<div class="col-md-6 col-xs-12 mt-5 mb-3">
				<div class="h4 mb-4">無名な名所</div>
				<div class="text-left">
					<span>広く知られてはいない</span><span>身近な名所、</span><span>お気に入りの場所を</span><span>投稿し共有できる</span><span>サービスです。</span>
					<span>気に入った投稿に</span><span>高評価をつけたり</span><span>コメントを書いたり</span><span>できます。</span>
				</div>
				<div class="text-left">
					<span>SpringBootを</span><span>初めて使い</span><span>作ったものです。</span>
				</div>
				<div class="h4 my-1"><a href="https://github.com/KoheiEguchi/MuMeisyo.git" target="_blank">GitHubはこちら</a></div>
			</div>
		</div>
	</div>
	<!-- /* 成果物3 */ -->
	<div th:fragment="work3">
		<div class="row">
			<div class="col-md-6 col-xs-12 my-3">
				<img id="utanokaiImg" onclick="slideshow(id)" src="img/utanokaiTop.jpg" width="100%" height="300">
			</div>
			<div class="col-md-6 col-xs-12 mt-5 mb-3">
				<div class="h4 mb-4">歌の会</div>
				<div class="text-left">
					<span>俳句・川柳、</span><span>短歌、</span><span>旋頭歌、</span><span>都々逸を</span><span>詠んで投稿できる</span><span>サービスです。</span>
					<span>全体的な雰囲気を</span><span>和風にし、</span><span>歌の表示も</span><span>縦書きにしてあります。</span>
				</div>
				<div class="text-left">
					<span>SpringBootを使わず</span><span>サーブレットとJSPで</span><span>作りました。</span>
				</div>
				<div class="h4 my-1"><a href="https://github.com/KoheiEguchi/UtanoKai_copy.git" target="_blank">GitHubはこちら</a></div>
			</div>
		</div>
	</div>
	
	<!-- /* 連絡 */ -->
	<div th:fragment="form">
		<div th:if="${nameCheck == true}">名前を入力してください。</div>
		<div class="text-left">名前</div>
		<div class="text-right"><input type="text" name="name" placeholder="名前"></div>
		<div th:if="${addressCheck == true}">連絡先を入力してください。</div>
		<div class="text-left">連絡先</div>
		<div class="text-right"><input class="w-50" type="text" name="address" placeholder="example@example.com"></div>
		<div th:if="${contentCheck == true}">内容を入力してください。</div>
		<div class="text-left">内容</div>
		<div class="text-right"><textarea name="content" cols="90" rows="10" placeholder="内容"></textarea></div>
	</div>
</body>
</html>