<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="replace::head"></head>
<body>
	<div th:replace="replace::jumbotron"></div>
	<div class="container">
		<div class="row my-4">
			<div class="col-12">
				<h2 class="py-2 bg-secondary">自己紹介</h2>
				<div th:replace="replace::profile"></div>
			</div>
			<div class="col-12">
				<h2 class="py-2 bg-secondary">アピールポイント</h2>
			</div>
			<div class="col-md-4 col-xs-12 bg-info py-2">
				<div th:replace="replace::appeal1"></div>
			</div>
			<div class="col-md-4 col-xs-12 bg-success py-2">
				<div th:replace="replace::appeal2"></div>
			</div>
			<div class="col-md-4 col-xs-12 bg-warning py-2">
				<div th:replace="replace::appeal3"></div>
			</div>
			<h2 class="col-12 py-2 bg-secondary">成果物</h2>
			<div class="col-md-6 col-xs-12">
				<img src="img/jumbotron.jpg" width="50" height="50">
			</div>
			<div class="col-md-6 col-xs-12">
				<div class="h4">成果物題</div>
				<br>
				<div>説明</div>
			</div>
			<div class="col-md-6 col-xs-12">
				<img src="img/jumbotron.jpg" width="50" height="50">
			</div>
			<div class="col-md-6 col-xs-12">
				<div class="h4">成果物題</div>
				<br>
				<div>説明</div>
			</div>
			<div class="col-12">
				<div class="row">
					<div class="col-md-2 col-xs-1"></div>
					<div class="col-md-8 col-xs-10">
						<form th:action="@{/form}" method="post">
							<div id="form" class="h2 mt-5">連絡</div>
							<div th:if="${nameCheck == true}">名前を入力してください。</div>
							<div class="text-left">名前</div>
							<div class="text-right"><input type="text" name="name" placeholder="名前"></div>
							<div th:if="${addressCheck == true}">連絡先を入力してください。</div>
							<div class="text-left">連絡先</div>
							<div class="text-right"><input class="w-50" type="text" name="address" placeholder="example@example.com"></div>
							<div th:if="${contentCheck == true}">内容を入力してください。</div>
							<div class="text-left">内容</div>
							<div class="text-right"><textarea name="content" cols="90" rows="10" placeholder="内容"></textarea></div>
							<div><input class="btn btn-primary shadow my-4" type="submit" value="送信"></div>
						</form>
					</div>
					<div class="col-md-2 col-xs-1"></div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>